// --------------------------------------------------
// using partials (theme)
@use "../theme"

.nav
    height: 100%
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between

.leftNav, .rightNav
    display: flex
    flex-flow: row nowrap
    align-items: center

.leftnav
    justify-content: flex-start

.rightNav
    justify-content: flex-end

.userDropdownMenuContainer, .createDropdownMenuContainer
    position: fixed
    top: 49px
    right: 5px
    background-color: theme.$trello-white
    @include theme.dropdown-menu-shadow
