// --------------------------------------------------
// This is the theme partials
// text-color
$trello-blue: #0065ff
$trello-blue-hover: #0051cc
$trello-white: #fff
$trello-text-blackish: #091e42
$trello-text-input: #495057

// button-color

// background-color
$bg-landing-primary: #fff
$bg-landing-secondary: #eae6ff

// border-color
$border-input-grey: #ccd4da
// typography

// shadows
$trello-shadow-grey: rgba(0,0,0,0.3)

// breakpoints for landing page 
$breakpoint-landing-md: 768px
$breakpoint-landing-lg: 992px
$breakpoint-landing-xl: 1200px

// z-index
$zindex-nav: 111

// --------------------------------------------------
// mixins

// typography

// shadows
@mixin landing-shadow-scroll($shadowColor:$trello-shadow-grey )
    box-shadow: 0 0 10px rgba(0,0,0,0.3)

@mixin button-hover-focus-shadow
    box-shadow: 0 0 0 .2rem rgba(0,101,255,0.5)

// gradient
@mixin landing-hero-linear-grad
    background: $bg-landing-primary
    background: linear-gradient(0deg, $bg-landing-primary, $bg-landing-secondary 100%)
    // background: linear-gradient(0deg, rgba($bg-landing-primary,1) 0%, rgba($bg-landing-secondary,1) 99%)
