// --------------------------------------------------
// using partials (theme)
@use "theme"

.container
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: stretch
  // height: 100vh
  position: relative

.header
  height: 68px
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: theme.$zindex-nav

.main
  flex: 1
  display: flex
  flex-direction: column
  justify-content: stretch
  align-items: flex-start

.hero
  @include theme.landing-hero-linear-grad
  width: 100%
  overflow-x: hidden
.footer
  width: 100%
  border-top: 1px solid #eaeaea
  display: flex
  justify-content: center
  align-items: center

// --------------------------------------------------
// media conditions
