// --------------------------------------------------
// using partials (theme)
@use "theme"

.navContainer
    height: 44px
    width: 100%
    padding: 6px 4px
    background-color: theme.$bg-nav-blue
    position: fixed
    top: 0
    left: 0
    z-index: theme.$zindex-nav
